* {
    margin: 0px;
}

.container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
}

i .fa {
    display: inline;
}

.inline {
    display: inline;
}

.content {
    width: 700px;
    margin: 0 auto;
}

.js img {
    width: 200px;
}

.fonts {
    font-size: 200px;
    color: green;
}

#css {
    color: red;
}

body {
    background-color: burlywood;
}

.html,
.html p {
    background-color: rgba(255, 0, 0, 0.644);
}

.css,
.css p {
    background-color: rgb(91, 73, 248);
}

.js,
.js p {
    background-color: yellow;
}

.bs p {
    background-color: blueviolet;
}

.php p {
    background-color: gray;
}