* {
    background-color: blueviolet;
    font-size: larger;
    vertical-align: top;
}

.container {
    display: inline-block;
    width: 800;
    height: 600px;
    margin: 50px auto;

    background-color: aqua;
}

.content {
    display: inline;


}

.js>img {
    width: 200px;
}

.fonts {
    font-size: 100px;
}

body {
    background-color: red;
}